// ---------------------------------------------------------------------------------- //
//                             Nextflow / executor settings
// ---------------------------------------------------------------------------------- //
conda.enabled = true
singularity.enabled = false

manifest.mainScript = "main.nf"

profiles {
    local { includeConfig 'conf/local.config'}
    lsf { includeConfig 'conf/lsf.config'}
    lsf_ignore_errors { includeConfig 'conf/lsf_ignore_errors.config'}
}

report.overwrite=true
trace.overwrite=true

// ---------------------------------------------------------------------------------- //
//                                    Process labels
// ---------------------------------------------------------------------------------- //
includeConfig 'conf/processes.config'

// ---------------------------------------------------------------------------------- //
//                                  Plugins & Schema
// ---------------------------------------------------------------------------------- //
plugins {
  id 'nf-schema@2.4.1'
}

validation {
  help {
    enabled = true
  }
  
  failUnrecognisedParams=true
}


// ---------------------------------------------------------------------------------- //
//                                      Parameters
// ---------------------------------------------------------------------------------- //
params {
    
  // -------------------------------------------------------------------------
  // Global run options
  
  // Path to the manifest
  rn_manifest=null
  
  // The publish folder for the results
  rn_publish_dir=null
  
  // Use node scratch storage instead of workdir (generally ok, set to false when debugging)
  rn_scratch=false
  
  // Run name, defaults to publishdir
  rn_runname="mishka"
  //rn_runname = { ->
  //  def wdPath = java.nio.file.Paths.get(params.rn_publish_dir).getFileName().toString()
  //  return wdPath
  //}
  
  // If the input objects contain CITEseq, this should be set to the column in var that identifies them
  rn_feature_type_col=null
  
  // -------------------------------------------------------------------------
  // Parameters for the conversion procceses
  convert {
    label="small"
    container = ""
    conda = "/software/conda/users/ob7/sc-blipper-convert"
    
    // Convert gene names to ensembl ids, global option that overrides the manifest if set to false
    // Individual file conversion still controlled at the manifest level, so if true, but all manifest is false, no conversion is done
    convert_gene_names=true
    
    // TSV file for gene ID conversion, if null this is automatically downloaded from ensembl biomart
    // Should be a 2 column tsv file with old new
    // 'new' Should be ensembl ids if you are doing gene set enrichments downstream
    // if null, need an internet connection
    // For 10x could use features.tsv.gz, to convert zcat features.tsv.gz | awk '{print $2"\t"$1}' > id_linker.tsv
    id_linker=null
    
    // Used to fetch ensembl ids to gene names
    ensembl_version="114"
    
    // If using the automated ensembl reference, instead of converting gene > ensembl, convert ensembl > gene instead
    // This may break gene set enrichment.
    ensembl_to_gene=true
  }
  
    // -------------------------------------------------------------------------
  // Parameters for the merge h5ad procceses
  merge {
    label="small"
    container = ""
    conda = "/software/conda/users/ob7/sc-blipper-convert"
    
    // Should genes be overlapped prior to merging the h5ads
    // Otherwise, outer join is used, with non-overlaps becomming NA's
    overlap_genes=true
  }
  
  // -------------------------------------------------------------------------
  // Options for cNMF
  cnmf {
    label="small"
    container = ""
    conda = "/software/conda/users/ob7/sc-blipper-convert"
    
    // Run preprocessing or not (makes a h5ad with variable genes, optionally harmony corrected)
    preprocess=true
    
    // Correct counts for these variables using the cnmf version of harmony. 
    // To use the batch/h5file prior to merge, use variable orig_h5ad
    // Leave at null to not apply the correction
    harmony_vars=null
    
    // Number of variable genes
    n_variable=2000
    
    // Seed for cnmf preprocess
    seed=42
    
    // Number of iterations {100}
    n_iter=10
    
    // Number of workers (a.k.a jobs)
    n_workers=3
    
    // Number of K to try, CANNOT contain 1
    k=[2,5,6] 
    
    // Loss function for the optimization
    // {frobenius,kullback-leibler,itakura-saito}
    beta_loss="frobenius"
    
    // Initialize, How to intialize the initial state of the decomp, 
    // {random,nndsvd}
    initialize="random"
    
    // Local density for consensus process {0.01}
    local_density=0.1
    
  }

}