# Unoffical working list of dependencies during development, and they order they were installed in

#-----------------------------------------------
# Create conda environment
conda create -n sc-blipper

# Install the following conda and pip packages
# Python
python==3.8.19
h5ad (pip)
cnmf (pip)
pandas
scanpy

# R
r-seurat==5.0.0
r-anndata
r-reticulate
r-optparse
r-remotes
r-ggplotify
r-pheatmap
r-ggraph
r-igraph

# Launch R and install the following packages from CRAN or Bioconductor
#biomaRt (was not in conda, installed manually)
install.packages("BiocManager")
BiocManager::install("biomaRt")

# Rutils, allows fread to read gzips directly (was not in conda, installed manually)
install.packages("R.utils") 

# To install fgsea need to follow this:
remotes::install_github("ctlab/fgsea")
remotes::install_github('saezlab/decoupleR')
remotes::install_github("saezlab/progeny")
remotes::install_github("saezlab/OmnipathR")
#biomaRt (was not in conda, installed manually)

# Note down the install path for the conda env, we will need it later for configuring the pipeline
echo $CONDA_PREFIX  # On Unix/Linux/macOS

# Exit conda env
conda deactivate

#-----------------------------------------------
# Install scVI (optional)
#-----------------------------------------------
# We will make a new enviroment for scVI to avoid conflicts and keep scVI optional so the pipeline is lighter
# You will ideally need a GPU for scVI to run
# Follow instructions here: https://docs.scvi-tools.org/en/1.0.0/installation.html
conda create -n sc-blipper-scvi python=3.10
conda activate sc-blipper-scvi 

# The instructions for conda are from the scvi docs, they dint't work for me and I have more luck with pip for
# installing pytorch in general. https://docs.scvi-tools.org/en/1.0.0/installation.html
#conda install pytorch torchvision torchaudio pytorch-cuda=11.7 -c pytorch -c nvidia
#conda install jax jaxlib -c conda-forge
#conda install scvi-tools -c conda-forge

# Install Pytorch, JAX, they might need to be tweaked depending on your system and GPU
# Pytorch: https://pytorch.org/get-started/locally/
# JAX: https://docs.jax.dev/en/latest/installation.html#installation

# Cuda 12 on linux, make sure the CUDA version matches your GPU drivers
pip3 install torch torchvision
pip3 install -U "jax[cuda12]"

# scvi-tools
pip install scvi-tools scikit-misc

# (optional) Install ipython, this is fully optional but nice to have for interactive work
conda install ipython

# Note down the install path for the conda env, we will need it later for configuring the pipeline
echo $CONDA_PREFIX  # On Unix/Linux/macOS

# Exit conda env
conda deactivate

# At this point I strongly recommend testing GPU is working. If on HPC, make sure to request a GPU node
# You can test by running python and typing:
import torch
print(torch.cuda.is_available()) # Should return True
import jax
print(jax.devices()) # Should show GPU devices

#-----------------------------------------------