# Unoffical working list of dependencies during development, and they order they were installed in

#-----------------------------------------------
# Python
python==3.10
h5ad (pip)
cnmf (pip)
pandas
scanpy

#-----------------------------------------------
# R
r-seurat==5.0.0
r-anndata
r-reticulate
r-optparse
r-remotes
r-ggplotify
r-pheatmap

#biomaRt (was not in conda, installed manually)
BiocManager::install("biomaRt")

# Rutils, allows fread to read gzips directly (was not in conda, installed manually)
install.packages("R.utils") 

# To install fgsea need to follow this:
remotes::install_github("ctlab/fgsea")
remotes::install_github('saezlab/decoupleR')
remotes::install_github("saezlab/progeny")
remotes::install_github("saezlab/OmnipathR")



#R.utils (allows fread to read gzips directly)

# See conda_env.txt for a dump of the conda env, but this misses some R packages that could not be found in conda

