
// Set the number of concurrent running jobs higher than the usual 40, this pipeline is not very IO heave
executor {
    queueSize=100
}

params {
    
    // Name of the run, reccomend setting this, otherwise will make a random hash
    rn_runname=null
    
    // Path to the manifest, must be set. TSV file with
    // <name> <path/to/seu.rds | path/to/h5ad.h5ad> <convert gene names true/false> 
    rn_manifest="inputs/manifest.tsv"
    
    // Folder to stage the output results
    rn_publish_dir="</abs/path/to/>results"
    
    convert {    
        // Subset the h5 object to only include these genes
        subset_genes=null

        // Convert gene names > ensemb or ensembl > gene name
        convert_gene_names=true
        
        // Does data have ensembl id or gene symbols 
        is_ensembl_id=true
        
        // Correct counts for these variables using the cnmf version of harmony. 
        // To use treat each input file as a batch to correct, use variable 'orig_h5ad'
        // Leave at null to not apply the correction
        // Comma seperated string e.g. "Donor,Batch,orig_h5ad"
        harmony_vars=null
    }
    
    cnmf {
        // K values to compute, would reccomend a large range for a first run
        k="18,19,20,21"
        
        // Lower the number of iterations per nmf run
        // On a first run, you can lower this to 30, then once selecting a K, re-run with a higher n_iter
        n_iter=100
        
        // K values to ignore for post-processing (saves unneeded compute for very low or very high k values)
        // Comma seperated string of k values "1,2,3"
        k_ignore=null

        // Number of workers (jobs) to use for cnmf factorize 
        // Number of paralllel jobs is limited by nextflow run configuration!
        // By default it will run only 40 concurrent jobs. Set executor.queuesize to change this
        n_workers=350
    }
    
    enrich {
        // Reference datasets for GSEA and ORA
        // There is a version with gene symbols and ensembl ids, if your target namespace is ensembl
        // change this to ensembl ids
        gmt_files="\
        /software/teamtrynka/installs/sc-blipper/assets/gene_sets/symbols/otar.drug.gene.20250205.symbols.gmt,\
        /software/teamtrynka/installs/sc-blipper/assets/gene_sets/symbols/gel.pid.ibd.v8.32.symbols.gmt,\
        /software/teamtrynka/installs/sc-blipper/assets/gene_sets/symbols/essentiality.depmap.hart.symbols.gmt,\
        /software/teamtrynka/installs/sc-blipper/assets/gene_sets/symbols/h.all.v2025.1.Hs.symbols.gmt,\
        /software/teamtrynka/installs/sc-blipper/assets/gene_sets/symbols/c2.cp.kegg_medicus.v2025.1.Hs.symbols.gmt,\
        /software/teamtrynka/installs/sc-blipper/assets/gene_sets/symbols/c2.cp.reactome.v2025.1.Hs.symbols.gmt,\
        /software/teamtrynka/installs/sc-blipper/assets/gene_sets/symbols/c5.go.cc.v2025.1.Hs.symbols.gmt,\
        /software/teamtrynka/installs/sc-blipper/assets/gene_sets/symbols/c5.go.bp.v2025.1.Hs.symbols.gmt,\
        /software/teamtrynka/installs/sc-blipper/assets/gene_sets/symbols/c5.go.mf.v2025.1.Hs.symbols.gmt,\
        /software/teamtrynka/installs/sc-blipper/assets/gene_sets/symbols/c1.all.v2025.1.Hs.symbols.gmt,\
        /software/teamtrynka/installs/sc-blipper/assets/gene_sets/symbols/sccellfie.metabolic.pathways.symbols.gmt"
        
        // The gene universe (currently doesn't interact with convert_gene_names, so must match AFTER conversion)
        universe=null
        
        // Use the top genes in this list for ORA analysis
        // [50,100,250] will compute for all 3. Generally I find top50 works well enough 
        use_top = [50]
    }
    
    // Control the magma settings
    magma {
        // Use pre-cached magma from the enrich process results
        // One with gene ids can be found: "/lustre/scratch124/humgen/projects_v2/healthy_imm_expr/CellDivider/analysis/sc_blipper/cnmf_enrichment/results/reference/magma/ALL_gene_x_condition_l2fc_magma_manifest.tsv"
        manifest_magma=null
        
        // A manifest with summary statistics
        // <name> <N> <snp_id_col> <pval_col> <path> 
        manifest_sumstats="inputs/manifest_sumstats.tsv"
        
        // LD reference panel in plink format. Specify the prefix WITHOUT bed/bim/fam
        ld_reference="/lustre/scratch125/humgen/resources_v2/1000g/eur_maf_005/hg38/eur_1kg.maf_005.annotated.hg38.plink"
    }
}