
params {
    
    // Name of the run, reccomend setting this, otherwise will make a random hash
    rn_runname=null
    
    // Output folder, reccomend calling it "results"
    rn_publish_dir="</abs/path/to/>results"
    
    convert {    
        // Do not convert gene names (run using gene symols)
        convert_gene_names=false
        
        // Data is gene symbols, not ensembl id
        is_ensembl_id=false
    }
    
    enrich {
        
        // Input matrix file, gene x condition. Otherwise set enrich.transpose=true
        input_matrix="</path/to/matrix.tsv>"
        
        // Should input matrix be transposed to get it into gene x condition
        transpose=false
        
        // Reference datasets for GSEA and ORA
        // There is a version with gene symbols and ensembl ids, if your target namespace is ensembl
        // change this to ensembl id version
        gmt_files="\
        /software/teamtrynka/installs/sc-blipper/assets/gene_sets/symbols/otar.drug.gene.20250205.symbols.gmt,\
        /software/teamtrynka/installs/sc-blipper/assets/gene_sets/symbols/gel.pid.ibd.v8.32.symbols.gmt,\
        /software/teamtrynka/installs/sc-blipper/assets/gene_sets/symbols/essentiality.depmap.hart.symbols.gmt,\
        /software/teamtrynka/installs/sc-blipper/assets/gene_sets/symbols/h.all.v2025.1.Hs.symbols.gmt,\
        /software/teamtrynka/installs/sc-blipper/assets/gene_sets/symbols/c2.cp.kegg_medicus.v2025.1.Hs.symbols.gmt,\
        /software/teamtrynka/installs/sc-blipper/assets/gene_sets/symbols/c2.cp.reactome.v2025.1.Hs.symbols.gmt,\
        /software/teamtrynka/installs/sc-blipper/assets/gene_sets/symbols/c5.go.cc.v2025.1.Hs.symbols.gmt,\
        /software/teamtrynka/installs/sc-blipper/assets/gene_sets/symbols/c5.go.bp.v2025.1.Hs.symbols.gmt,\
        /software/teamtrynka/installs/sc-blipper/assets/gene_sets/symbols/c5.go.mf.v2025.1.Hs.symbols.gmt,\
        /software/teamtrynka/installs/sc-blipper/assets/gene_sets/symbols/c1.all.v2025.1.Hs.symbols.gmt,\
        /software/teamtrynka/installs/sc-blipper/assets/gene_sets/symbols/sccellfie.metabolic.pathways.symbols.gmt"
        
        // The gene universe (currently doesn't interact with convert_gene_names, so must match AFTER conversion)
        universe="inputs/<my_gene_file.txt>"
        
        // Use the top genes in this list for ORA analysis
        // [50,100,250] will compute for all 3. Generally I find top50 works well enough 
        use_top=[50,100]
    }
    
    // Control the magma settings
    magma {
        // Use pre-cached magma from the enrich process results
        manifest_magma=null
        
        // A manifest with summary statistics
        // <name> <N> <snp_id_col> <pval_col> <path> 
        manifest_sumstats="inputs/manifest_sumstats.tsv"
        
        ld_reference="/lustre/scratch125/humgen/resources_v2/1000g/eur_maf_005/hg38/eur_1kg.maf_005.annotated.hg38.plink"
    } 
}