
params {
    
    // Name of the run, reccomend setting this, otherwise will make a random hash
    rn_runname=null
    
    // Output folder, reccomend calling it "results"
    rn_publish_dir="</abs/path/to/>results"
    
    convert {    
        // What namespace to run in, gene names or ensembl ids
        output_namespace="gene_name"
    }
    
    enrich {
        
        // Input matrix file, gene x condition. Otherwise set enrich.transpose=true
        input_matrix="</path/to/matrix.tsv>"
        
        // Does the input matrix have gene names or ensembl ids
        input_namespace="<gene_name|ensembl>"
        
        // Should input matrix be transposed to get it into gene x condition
        transpose=false
        
        // Reference datasets for GSEA and ORA
        // You can specify a comma seperated list as a string of paths to .gmt files
        // The namespace must match convert.output_namespace
        gmt_files="DEFAULT"
        
        // The gene universe (currently doesn't interact with convert_gene_names, so must match AFTER conversion)
        universe="inputs/<my_gene_file.txt>"
        
        // Use the top genes in this list for ORA analysis
        // [50,100,250] will compute for all 3. Generally I find top50 works well enough 
        use_top=[50,100]
    }
    
    // Control the magma settings
    magma {
        // Use pre-cached magma from the enrich process results
        manifest_magma=null
        
        // A manifest with summary statistics
        // <name> <N> <snp_id_col> <pval_col> <path> 
        manifest_sumstats="inputs/manifest_sumstats.tsv"
        
        ld_reference="inputs/eur_1kg.maf_005.annotated.hg38.plink"
    } 
}