
// Set the number of concurrent running jobs higher
executor {
    queueSize=100
}

params {
    rn_runname="met25_e2_e3_final_scvi_protein_coding"
    rn_manifest="inputs/manifest.tsv"
    rn_publish_dir="../results"

    convert {    
        // Generate all output and perform enrichment with gene names
        output_namespace="gene_name"
        
        // Filter the object to protein coding genes and lncRNA's
        biotype_filter="protein_coding|lncRNA"
    }
    
    preprocess {
        // Apply batch correction using scVI, set to null to skip
        // Options: null, 'harmony', 'scvi'
        batch_correction='scvi' 
        
        harmony {
            // Metadata on anndata to correct for, comma seperated list harmony_vars="batch,donor_trynka"
            harmony_vars=null
        }
        scvi {
            // Metadata on anndata to correct for as main batch, single value
            batch_key="batch"
            
            // Metadata on anndata to additionally correct for, comma seperated list cat_covariates="batch,donor_trynka"
            cat_covariates="donor_trynka"
        }
    }
    
    cnmf {
        // K values to compute
        k="20,21,22,23,24,25,26,27,28,30,31,32,33,34,35"
        
        // The number of random start iterations per K  run
        n_iter=100
        
        // K values to ignore for post-processing, comma seperated list k_ignore="2,3,4,60"
        k_ignore=null

        // Used in clustering programs to remove outlier iterations. Lower with give cleaner
        // results. It removes runs above this distance.
        // Sometimes this might need to be increased from default {0.01} to avoid crashes.
        local_density=0.1
        
        // Number of workers to use for cnmf factorize 
        // Number of paralllel jobs is limited by nextflow run configuration as well!
        // By default it will run only 40 concurrent jobs. Set executor.queuesize to change this
        n_workers=1
        
        // Run magma, but will need to supply summary stats manifest. See below
        run_magma=true

    }
    
    enrich {
        // Reference datasets for GSEA and ORA
        gmt_files="DEFAULT"

        // The gene universe (currently doesn't interact with convert_gene_names, so must match AFTER conversion)
        universe=null
        
        use_top = [50,250]
    }
    
    // Control the magma settings
    magma {
        // Manifest with summary statistics
        // Must be a tsv file with columns
        // name	n	variant_col	p_col	path
        // asthma_32296059	536345	rsid	p_value GCST010043.h.tsv.gz
        
        manifest_sumstats="inputs/manifest_sumstats.tsv"
        
        // Plink bed/bim/fam reference file
        ld_reference="inputs/eur_1kg.maf_005.annotated.hg38.plink"
    }
}